body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 20px 0;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columnas */
  gap: 10px;
  width: 90%;
  max-width: 1200px;
}

.gallery img {
  width: 100%;
  height: 300px; /* Altura fija para todas las imágenes */
  object-fit: cover;
  border-radius: 8px;
}
